doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      .slides.bg-white.lh-copy.bunting.f3.fw3

        include ./slides/intro
        include ./slides/april-fools

        include ./slides/basic-css

        include ./slides/inside-engine

        include ./slides/layout
        include ./slides/highlight
        include ./slides/random
        include ./slides/facets

        include ./slides/conclusion


        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer
