// // CSS API Client
// section.slide--horizontal.slide--theme1
//   .bg-gradient-primary.white.h-100.flcnw.flc
//     .f-subheadline.lh-title.mh6.ph6 CSS API Client

// What is Algolia
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Algolia: Search as a Service
    .fla.flcnw.h-100
      .fln.h-80.pv2
        img.h-100.shadow-4(src='./img/algolia/demo-yarn.gif')
      .fln.h-20.flrnw.flc
        .w-60.flrnw.flspbh.h3
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/php.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/ruby.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/javascript.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/python.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/ios.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/android.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/csharp.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/java.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/go.svg')
          img.h-100.br-100.shadow-3(src='./img/algolia/languages/scala.svg')

// Fake announcement
section.slide--horizontal(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b CSS API Client
    .fla.flrnw
      .fln.flc.w-50.pa4
        .w-50.f0
          img(src='./img/april-fools.png')
      .fln.flcnw.w-50
        .fla.flrnw
          img.fln.w5.mv3(src='./img/offline.svg')
          .fla.flrcv Works offline!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/nojs.svg')
          .fla.flrcv No JavaScript Needed!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/flexbox.svg')
          .fla.flrcv Flexbox!

// Troll announcement
section.slide--horizontal(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b CSS API Client
    .fla.flrnw
      .fln.flc.w-50.pa4
        .fln.flcnw.flc
          .w-50.f0
            img(src='./img/april-fools-revealed.png')
          a.link.f2(href='https://community.algolia.com/algoliasearch-client-css/demo/' target="_blank") www.algolia.com/css
        // .h-60.f0
      .fln.flcnw.w-50.relative
        img.absolute.w5.bottom-1.right-1(src='./img/troll.png')
        .fla.flrnw
          img.fln.w5.mv3(src='./img/offline.svg')
          .fla.flrcv Works offline!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/nojs.svg')
          .fla.flrcv No JavaScript Needed!
        .fla.flrnw
          img.fln.w5.mv3(src='./img/flexbox.svg')
          .fla.flrcv Flexbox!

// Demo
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Live demo
    .fla.flcnw
      .fla.flrnw
        .fla.flcnw
          .fla.flc
            .fake-browser.shadow-3.center.w-80.f0
              img.w-100(src='./img/screencast.gif')
        .fln.flcnw.w-30.flccv
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/pillar-relevance.svg')
            .fla.flrcv Relevance
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/pillar-speed.svg')
            .fla.flrcv Speed
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/feature-highlighting.svg')
            .fla.flrcv Highlighting
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/feature-typo-tolerance.svg')
            .fla.flrcv Typo-tolerance
          .fln.flrnw.mb2
            img.fln.w4(src='./img/algolia/feature-synonyms.svg')
            .fla.flrcv Synonyms
          .fln.flrnw
            img.fln.w4(src='./img/algolia/feature-faceting.svg')
            .fla.flrcv Facetting

