section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b as you type
    .fla.flcnw.flccv
      |as-you-type
      |très important, car on est habitué au real-time
      |si obligé d'appuyer sur enter, semble backward
      |résultats doivent s'affichr au fur et à mesure
