// Layout display
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh6.ph6 Make it pretty

// Target layout
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Layout
    .fla.flrnw.flc.pa2
      .fake-browser.shadow-3.center.w-80.f0
        img.w-100(src='./img/screencast.gif')


// Several results
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several results
    .fla.flcnw
      .fla.flrnw
        .fln.w-40.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl.f4
              code.language-html
                |&lt;input type="text" id="input"/&gt;
                |
                |&lt;div id="result_1"&gt;&lt;/div&gt;
                |&lt;div id="result_2"&gt;&lt;/div&gt;
                |&lt;div id="result_3"&gt;&lt;/div&gt;

        .fla.flc
          .fln
            pre.bg-near-black.pa3.lh-copy.tl.f4
              code.language-scss
                |//Pre-fill results
                |#result_1:before { content: "Julien Lemoine"; }
                |#result_2:before { content: "Josh Dzielak"; }
                |#result_3:before { content: "Jonas Badalic"; }
                |// Hide them all
                |#results div { display: none; }
                |// Display some on specific queries
                |#input[value="jo" i] ~ #result_2:before,
                |#input[value="jo" i] ~ #result_3:before {
                |  display: block;
                |}
      .fla.flc
        .fln.flcnw
          .fln.flrnw.pa2.flspbh
            input.fln.pa2.br2(type="text" value="jo")
            .db.ba.pa3.ml3.o-30 Julien Lemoine
            .db.ba.pa3.ml3.bg-green Josh Dzielak
            .db.ba.pa3.ml3.bg-green Jonas Badalic

// Many rules
// section.slide--vertical
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Lots of rules...
//     .fla.flcnw
//       .fla.flrnw
//         .fln.w-50.flc
//           .fln
//             pre.bg-near-black.pa3.lh-copy.tl.f4
//               code.language-scss
//                 |// Julien, Josh & Jonas
//                 |#input[value="j" i] ~ #result_1:before,
//                 |#input[value="j" i] ~ #result_2:before,
//                 |#input[value="j" i] ~ #result_3:before {
//                 |  display: block;
//                 |}
//                 |// Josh & Jonas
//                 |#input[value="jo" i] ~ #result_1:before,
//                 |#input[value="jo" i] ~ #result_2:before {
//                 |  display: block;
//                 |}
//                 |// Josh only
//                 |#input[value="jos" i]  ~ #result_2:before,
//                 |#input[value="josh" i] ~ #result_2:before {
//                 |  display: block;
//                 |}
//
//         .fln.w-50.flc
//           .fln
//             pre.bg-near-black.pa3.lh-copy.tl.f4
//               code.language-scss
//                 |// Jonas only
//                 |#input[value="jon" i]   ~ #result_2:before,
//                 |#input[value="jona" i]  ~ #result_2:before,
//                 |#input[value="jonas" i] ~ #result_2:before {
//                 |  display: block;
//                 |}
//                 |
//                 |// Julien only
//                 |#input[value="ju" i]     ~ #result_0:before,
//                 |#input[value="jul" i]    ~ #result_0:before,
//                 |#input[value="juli" i]   ~ #result_0:before,
//                 |#input[value="julie" i]  ~ #result_0:before,
//                 |#input[value="julien" i] ~ #result_0:before {
//                 |  display: block;
//                 |}

// Hits
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Styling in one div
    .fla.flrnw.flc
      .fln.w-40
        img(src='./img/gianluca.gif')
        pre.bg-near-black.pa2.lh-copy.tl
          code.language-html
            |  &lt;div id="result_42"&gt;&lt;/div&gt;

// Cloudinary for the image
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b.flrnw.flrcv
      img.h3.mr3(src='./img/cloudinary.svg')
      .di cloudinary.com
    .fla.flcnw
      .fla.flrnw.flc
        .fla.f0.flc
          img.w6.ba.b--green.bw3(src='./img/gianluca-color.png')
        .fla.f0.flc
          img.w5.ba.b--blue.bw3(src='./img/gianluca-cloudinary.jpg')
      .fla.flcnw.flc
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu
          |http://res.cloudinary.com/{app_id}/image/fetch/
          .db
            .di.blue w_220
            .di ,
            .di.blue h_220
            .di ,
            .di.blue r_max
            .di ,
            .di.blue e_grayscale
            .di ,
            .di.blue q_90
            .di /
          .db.green
            |https://www.algolia.com/gianluca.png

// Multi-line name
section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Multi-line content
    .fla.flrnw
      .fln.w-30.flc
        img(src='./img/gianluca.png')
      .fla.flc
        pre.bg-near-black.pa2.lh-copy.tl
          code.language-scss
            |#result_42 {
            |  &:before {
            |    content: "Gianluca Bargelli Full-Stack Engineer";
            |  }
            |}

// Multi-line name
section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Multi-line content
    .fla.flrnw
      .fln.w-30.flc
        img(src='./img/gianluca.png')
      .fla.flc
        pre.bg-near-black.pa2.lh-copy.tl
          code.language-scss
            |#result_42 {
            |  &:before {
            |    content: "Gianluca Bargelli \A Full-Stack Engineer";
            |    white-space: pre;
            |  }
            |  &:first-line {
            |    font-weight: bold;
            |  }
            |}

// Fun-fact hover
// section.slide--vertical
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b More details on hover
//     .fla.flrnw
//       .fla.flc
//         pre.bg-near-black.pa3.lh-copy.tl.f4
//           code.language-scss
//             |#result_42:after {
//             |  content: "[…details…]";
//             |  opacity: 0;
//             |  position: absolute;
//             |  width: 220px;
//             |  height: 220px;
//             |  border-radius: 50%;
//             |  background-image: linear-gradient(
//             |    140deg,
//             |    rgba(12,105,172,.75) 10%,
//             |    rgba(24,35,89,.75) 90%
//             |  );
//             |}
//             |#result_42:hover:after {
//             |  opacity: 1;
//             |}
//       .fln.w-third.flc
//         img(src='./img/gianluca.gif')
//
