// Non-random order
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Empty query
    .fla.flrnw
      .fla.relative.flc
        .absolute
          .fake-browser.shadow-3.center
            img.w-100(src='./img/non-random.png')
        .absolute.top-3.left-3.fragment
          .fake-browser.shadow-3.center
            img.w-100(src='./img/non-random.png')
        .absolute.top-2.left-4.fragment
          .fake-browser.shadow-3.center
            img.w-100(src='./img/non-random.png')
        .absolute.top-2.left-4.fragment
          .fake-browser.shadow-3.center.f0
            img.w-100(src='./img/random.gif')

// Flex order
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Changing the order
    .fla.flcnw
      .fla.flrnw
        .fln.w-50.flc
          .fln
            .f3 HTML
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-html
                |&lt;div id="result_1"&gt;result_1&lt;/div&gt;
                |&lt;div id="result_2"&gt;result_2&lt;/div&gt;
                |&lt;div id="result_3"&gt;result_3&lt;/div&gt;

        .fln.w-50.flc
          .fln
            .f3 CSS
            pre.bg-near-black.pa4.lh-copy.tl
              code.language-scss
                |div { flex: 1; }
                |#result_1 { order: 3; }
                |#result_2 { order: 1; };
                |#result_3 { order: 2; }
      .fla.flc
        .fln.w-75.flrnw.flspah
          .db.ba.w-20.h3.flc result_2
          .db.ba.w-20.h3.flc result_3
          .db.ba.w-20.h3.flc result_1

// Random in CSS?
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Random in CSS?
    .fla.flrnw
      .fla.flc
        ul.list.tl.f1
          li
            span.b.dark-red No
            | vars
          li
            span.b.dark-red No
            | functions
          li.flrnw.flrcv.fragment
            .b.dark-red.fln No
            .fln.bg-black-80.near-white.ml2.mv2.dejavu.f2.ph2 order: random;
      .fla.flc.fragment.flcnw
        .fln.f1.mb3 SCSS? Less? Stylus?
        img.fln(src='./img/xkcd_random.png')

// Webtask.io
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b.flrnw.flrcv
      img.h3.mr3(src='./img/webtask.svg')
      .di webtask.io
    .fla.flrnw.relative
      .fla.flc.w-50.flcnw
        .fake-browser.shadow-3.center.f0
          img.w-100(src='./img/webtask-editor.png')
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu.mt3
          .di webtask.io/edit/
          .di.green {appid}
          .di /
          .di.blue random-css
      .fla.flc.w-50.flcnw
        pre.bg-near-black.pa4.lh-copy.tl.f4
          code.language-scss
            |#result_1 { order: 4; }
            |#result_2 { order: 8; }
            |#result_3 { order: 15; }
            |#result_4 { order: 16; }
            |#result_5 { order: 23; }
            |#result_6 { order: 42; }
            |[…]
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu.mt3
          .di.green {appid}
          .di .webtask.io/
          .di.blue random-css
      .absolute.top-2.left-4.fragment
        .fake-browser.shadow-3.center.f0
          img.w-100(src='./img/random.gif')
